<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home Page 1+2</h1>
    <h3><%=1+2%></h3>
    <!-- or -->
     <h3><%=["hello", "Saurbh","sachin"][2] %></h3>
     <!-- here 2 shows index value want to print   -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti odit amet enim blanditiis, quasi sint quisquam qui ut, veniam voluptas dolores fugit facere! Nesciunt aut, placeat illo vitae suscipit minima.</p>

    <button style="background-color: rgb(22, 228, 22); border:1px solid black;">Click me!</button>
</body>
</html>
