h1{
    color: maroon;
}

.post{
    background-color: blanchedalmond;
    border: 2px solid rgb(62, 29, 29);
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.user{
    font-style: italic;
}

.content{
    font-size: 18px;
    margin-bottom: 6px;
    
}